

md-content.login-content(layout='column' layout-align='space-between center')

  form.form(name='form', ng-submit='vm.login(form)', novalidate='' layout='row' flex)

    section(layout='column' flex)

      md-input-container(md-no-float="true")
        input.username-input(type='input', name='email', ng-model='vm.user.email', placeholder='Username'
          tabindex='{{vm.user.email ? "-1" : "1"}}'
          ng-focus='vm.focus.email = true' ng-blur='vm.focus.email = false', ng-class='{"username-exists": ! vm.focus.email && vm.user.email}')

      md-input-container(md-no-float="true")
        input(type='password', name='password', ng-model='vm.user.password', placeholder='Password'
          tabindex='{{vm.user.email ? "1" : "2"}}')


      md-button.login-button.md-raised.md-primary(type='submit', tabindex='3') Login

