


.login-content {

  position: absolute;
  min-height: 100%;
  width: 100%;

  form {
    width: 80%;
    max-width: 300px;
    align-items: center;
  }


  input {
    font-weight: 700;
  }

  input.username-input {
    
    background-color: @background;
    &.username-exists {
      border-color: transparent;
    }
  }

  md-input-container {
    margin: 0;
    flex-grow: 1;
  }

  .login-button {
    md-icon {
      margin-left: 2px;
      margin-top: -1px;
    }
    md-progress-circular {
      margin-top: -8px;
      margin-left: -8px;
    }
  }

}
