

md-content.login-content(layout='column' layout-align='space-between center')

  form.form(name='form', ng-submit='vm.login(form)', novalidate='' layout='row' flex)

    section(layout='column' flex)

      md-input-container.username-input(md-no-float="true")
        input(type='input', name='email', ng-model='vm.user.email', placeholder='Username (eg ab1234)'
          tabindex='{{vm.user.email ? "5" : "1"}}', ng-keypress='vm.error = false'
          ng-focus='vm.focus.email = true' ng-blur='vm.focus.email = false', ng-class='{"username-exists": ! vm.focus.email && vm.user.email}')

        md-button.md-icon-button.clear-user-button(tabindex='-1' ng-click='vm.user.email = ""')
          md-icon(md-font-set="material-icons") clear

      section(layout='row' flex)
        md-input-container(md-no-float="true")
          input(type='password', name='password', ng-keypress='vm.error = false' ng-model='vm.user.password', placeholder='Enter password'
            tabindex='{{vm.user.email ? "1" : "2"}}')


        md-button.login-button.md-icon-button(type='submit', tabindex='3')
          md-icon(ng-hide='vm.submiting' md-font-set="material-icons") send
          md-progress-circular(ng-show='vm.submiting' md-mode="indeterminate" md-diameter='40')

      md-content.error-content.fade-in-content(ng-class='{"fade-in": vm.error}')
        | Cannot find a user matching that username and password.

