


md-sidenav {



  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;

  max-width: @sidenav-width;
  width: @sidenav-width;
  min-width: @sidenav-width;
  & > md-content {
    max-width: @sidenav-width;
    width: @sidenav-width;
    min-width: @sidenav-width;
    align-self: center;
  }

  .md-list-item-inner {
    color: @heading-grey;
  }

  .is-active .md-list-item-inner{
    font-weight: 700 !important;
    color: @blue;

    md-icon.timesheet-approved-tick {
      color: @blue;
    }
  }


  background-color: transparent;
  md-content {
    background-color: transparent;
  }


  .navigation-item {
    .md-button {
      line-height: inherit;
    }
    h4, h5 {
      margin: 0;
    }
    em {
      opacity: 0.6;
    }
  }


}

md-icon.timesheet-approved-tick {
  align-self: flex-end;
  color: #bbb;

  margin: 0 0 12px auto !important;
}
