md-content.timesheet-navigation-content

  md-list
    md-list-item(tabindex="10" ng-click='gotoTimesheet(timesheet)' ng-repeat='timesheet in timesheets track by $index',
    ng-class='{"is-active": isTimesheetActive(timesheet)}')
      | {{getTimesheetLabel(timesheet)}}

      md-icon.timesheet-approved-tick(ng-show='timesheet.status === "Approved"', md-font-set="material-icons") done
