md-dialog.dialog.timesheet-dialog-project

  md-content(flex layout='column')

    h3 Search for a project

    md-content(flex layout='row')

      md-autocomplete.omni-autocomplete(ng-disabled='isDisabled', md-no-cache='noCache', md-selected-item='selectedOmniItem',
        md-search-text-change='searchOmniTextChange(searchOmniText)', md-search-text='searchOmniText', md-autoselect='true'
        md-selected-item-change='selectedOmniItemChange(omniItem)', md-items='omniItem in omniSearch(searchOmniText)',
        md-item-text='omniItem.display', md-min-length='-1', placeholder='Enter the omni name', md-match-case-insensitive='true')
          md-item-template
            span(md-highlight-text='searchOmniText', md-highlight-flags='^i') {{omniItem.clientName}} {{omniItem.projectName}}
          md-not-found
            | No projects matching "{{searchOmniText}}" were found.

      md-button.add-project-button.md-raised(ng-click='completeOmni($event, selectedOmniItem)') Add

    md-divider

    md-content(flex layout='column')

      h3 or choose a common project

      md-content.common-project-content(flex layout='row')

        md-button.common-project-button(flex layout='row' ng-repeat='commonProject in commonProjects track by $index',
          ng-click='selectCommon($event, commonProject)')
          div
            .common-project-button-circle(flex random-color='{{commonProject.clientName}}')
              .client-name-avatar() {{getAvatarClientName(commonProject.clientName)}}
          div(flex layout='column')
            h4 {{commonProject.projectName}}
            em {{commonProject.clientName}}

