




.timesheet-dialog-project {

  md-autocomplete {
    width: 100%;
    @media(min-width: @screen-md-min){
      width: 50%;
    }

    margin: 10px;
  }

  .add-project-button {
    height: 40px;
    margin: 10px;
  }

  .common-project-button {
    span {
      text-transform: none;
    }
  }


}
