

.task-day-input {
  width: 60px;
}



md-content.task {

  flex-wrap: wrap;

  @media(min-width: @screen-md-min){
    flex-wrap: nowrap;
  }

  md-input-container {
    margin: 2px 0;
  }
}



md-content.project {
  margin-bottom: 20px;
}

md-content.project,
md-content.project md-content {
  background-color: #fff;
}

