


md-content.timesheet-content.fade-in-content(ng-class='{"fade-in": !!timesheet }')

  md-content.client(layout-padding ng-repeat='(clientName, clientValue) in timesheet.rows track by $index')
    h1 {{clientName}}

    md-content.project.md-whiteframe-z2(layout-padding ng-repeat='(projectName, projectValue) in clientValue track by $index')
      h3 {{projectName}}

      md-content.task(flex layout='row' ng-repeat='task in projectValue track by $index')

        include ./timesheet-task.jade

      md-button.md-raised(ng-if='isKnownProject(projectName)', ng-click='addRow(clientName, projectName)') Add row




