

.bold-input {
  input {
    font-weight: 500;
  }
}

.stretch-input {
  flex-grow: 1;
}



.task-menu-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.task-menu-input,
.task-total-input,
.task-day-input {
  width: 14.2%;
  input {
    text-align: left;
    font-size: 1.2em;
  }
}

.task-total-input {
  input {
    font-weight: 700;
  }
}

.activity-input,
.task-input {
  width: 50%;
}

.description-input {
  width: 100%;
}

@media (min-width: @screen-md-min) {
  .description-input {
    width: auto;
  }
  .task-total-input {
    width: 40px;
  }
  .task-day-input {
    width: 40px;
    label {
      width: 34px;
      text-align: center;
    }
  }
  .activity-input,
  .task-input {
    max-width: 160px;
  }
  .task-menu-input {
    width: auto;
  }

  .task-menu-input,
  .task-total-input,
  .task-day-input {
    input {
      text-align: right;
    }
  }
}




md-content.task {

  flex-wrap: wrap;


  @media(min-width: @screen-md-min){
    flex-wrap: nowrap;
    height: 48px;
    md-input-container {
      margin: 2px 0;
    }
  }

  md-input-container {
    padding: 2px 0;
    .md-errors-spacer {
      display: none;
    }
    input {
      color: @input-color;
      padding-left: 0;
      padding-right: 0;
      .description-input & {
        padding-right: 12px;
      }
    }
  }

  input:-moz-placeholder{font-weight: normal; color: @task-placeholder-color !important;}
  input::-moz-placeholder{font-weight: normal; color: @task-placeholder-color !important;}
  input:-ms-input-placeholder{font-weight: normal; color: @task-placeholder-color !important;}
  input::-webkit-input-placeholder {font-weight: normal; color: @task-placeholder-color !important;}

  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(0, 0, 0) scale(1);
    color: @task-label-color;
  }
  md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    padding-left: 0;
  }

  md-menu.md-menu {
    margin-top: -14px;
    padding: 8px 0 10px;
  }
}


.md-button.md-icon-button.edit-project-button {
  margin: 10px 6px 0;
  .material-icons {
    font-size: 20px;
  }
}

md-content.client {

  h1 {
    color: @blue-dark;
    margin: 6px 0 0 0;
  }
  @media(min-width: @screen-md-min){

    transition: margin 0.3s ease-in-out;
    .is-nav-open-desktop & {
      margin: 26px 40px 26px 6px;
    }

    margin: 26px 40px 26px 40px;


    h1 {
      position: absolute;
      right: 30px;
      top: 0;
      margin-top: 20px;
    }
  }

  md-content.title {
    background-color: @title-background;
    margin-bottom: 20px;
  }

}


md-content.bottom-actions {
  padding-top: 0 !important;
  button.md-button{
    align-self: flex-end;
  }
}

md-content.project {
  margin: 0 !important;
  padding: 0 0 0 0 !important;

  &.top-project {
    margin-top: 5px;
    padding-top: 8px;
  }

  &.bottom-project {
    margin-bottom: 5px;
    padding-bottom: 8px;
  }

  h3 {
    color: @heading-grey;
    margin: 0;
    margin-top: 6px;
  }

}

md-content.client {
  padding: 0 !important;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 2px 1px -1px rgba(0, 0, 0, 0.03);
}

md-content.client,
md-content.client md-content {
  background-color: #fff;
  padding: 8px 0;

  md-content.task,
  md-content.title,
  md-content.bottom-actions {
    padding: 8px 16px;
    &.first-task {
      padding-top: 14px;
    }
  }
}

md-content.timesheet-content {
  max-width: 1200px;
  margin: 0 auto;
}
