


md-content.timesheet-content.fade-in-content(id="timesheet-content" layout-padding, ng-class='{"fade-in": timesheet && isLoaded}')


  md-content.client(ng-repeat='(clientName, clientValue) in timesheet.rows track by $index')

    md-content.project(ng-show='projectValue.length > 0' layout-padding ng-repeat='(projectName, projectValue) in clientValue track by $index',
    ng-class='{"top-project": $first, "bottom-project": $last}')



      md-content.title(flex layout='row')

        div(flex layout='column')
          h1.show-collapsed-menu {{getClientNameDisplay(clientName)}}

          h3 {{getProjectNameDisplay(projectName)}}
            md-button.edit-project-button.md-icon-button(ng-click='openProjectMoveDialog($event, timesheet, projectValue, clientName, projectName)')
              md-icon(md-font-set="material-icons") edit
              md-tooltip(md-direction='right') Edit project



      h1.hide-collapsed-menu(ng-show='isKnownProject(projectName)') {{getClientNameDisplay(clientName)}}


      //div.no-padding(sv-root sv-part="projectValue")
        md-content.task(class='{{task.id}}' ng-class='{"first-task": $first}'
        flex layout='row' ng-repeat='task in projectValue track by $index',
        sv-element='svElementOpts')
      div.no-padding()
        md-content.task(class='{{task.id}}' ng-class='{"first-task": $first}'
        flex layout='row' ng-repeat='task in projectValue track by $index')

          include ./timesheet-task.jade

      md-content.bottom-actions(flex layout='column')
        div(ng-hide='isKnownProject(projectName)') &nbsp;
        md-button.md-icon-button(ng-if='isKnownProject(projectName)', tabindex="1", ng-click='addRow(clientName, projectName)')
          md-icon(md-font-set="material-icons") add
          md-tooltip(md-direction='left') Add row






