md-input-container.stretch-input.bold-input(md-no-float="false")
  label(ng-if='$first') Description
  input(type='input' tabindex="1" ng-model='task.description', placeholder='Description')

md-input-container.stretch-input(md-no-float="{{ ! $first}}")
  label(ng-if='$first') Activity
  input(type='input' tabindex="1" ng-model='task.activity', placeholder='{{$first ? "": "Activity"}}')

md-input-container.stretch-input(md-no-float="false")
  label(ng-if='$first') Task
  input(type='input' tabindex="1" ng-model='task.task', placeholder='Task')


md-input-container.task-day-input(md-no-float="false")
  label(ng-if='$first') Mon
  input(type='number' tabindex="1" ng-model='task.mon', placeholder='Mon')

md-input-container.task-day-input(md-no-float="false")
  label(ng-if='$first') Tue
  input(type='number' tabindex="1" ng-model='task.tue', placeholder='Tue')

md-input-container.task-day-input(md-no-float="false")
  label(ng-if='$first') Wed
  input(type='number' tabindex="1" ng-model='task.wed', placeholder='Wed')

md-input-container.task-day-input(md-no-float="false")
  label(ng-if='$first') Thu
  input(type='number' tabindex="1" ng-model='task.thu', placeholder='Thu')

md-input-container.task-day-input(md-no-float="false")
  label(ng-if='$first') Fri
  input(type='number' tabindex="1" ng-model='task.sat', placeholder='Sat')

md-input-container.task-day-input.bold-input(md-no-float="false")
  label(ng-if='$first') Total
  input(type='number' tabindex="1" ng-model='task.total', placeholder='Total')


md-menu(md-position-mode="target-right target")
  md-button.md-icon-button(tabindex="1" aria-label='Open timesheet menu', ng-click='$mdOpenMenu($event)',)
    md-icon(md-menu-origin='', md-svg-icon='assets/icons/more.svg')

  md-menu-content(width='3')
    //md-menu-item(ng-if=' ! isKnownProject(projectName)')
    md-menu-item()
      md-button(ng-click='openProjectDialog($event, timesheet, $index, clientName, projectName)')
        md-icon(md-font-set="material-icons") edit
        | Set project

    md-menu-item
      md-button(ng-click='deleteTask($event, timesheet, $index, clientName, projectName)')
        md-icon(md-font-set="material-icons") delete
        | Delete


