md-input-container.stretch-input.description-input.bold-input(md-no-float="true")
  label(ng-if='$first') Description
  input(type='input' tabindex="1" ng-model='task.description', placeholder='Description')

md-input-container.stretch-input.activity-input(md-no-float="true")
  label(ng-if='$first') Activity
  input(type='input' tabindex="1" ng-model='task.activity' placeholder='Activity')

md-input-container.stretch-input.task-input(md-no-float="true")
  label(ng-if='$first') Task
  input(type='input' tabindex="1" ng-model='task.task' placeholder='Task')



md-input-container.task-day-input(md-no-float="true")
  label(ng-if='$first') M
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.mon=task.mon||0" ng-model='task.mon')

md-input-container.task-day-input(md-no-float="true")
  label(ng-if='$first') T
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.tue=task.tue||0" ng-model='task.tue')

md-input-container.task-day-input(md-no-float="true")
  label(ng-if='$first') W
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.wed=task.wed||0" ng-model='task.wed')

md-input-container.task-day-input(md-no-float="true")
  label(ng-if='$first') T
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.thu=task.thu||0" ng-model='task.thu')

md-input-container.task-day-input(md-no-float="true")
  label(ng-if='$first') F
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.fri=task.fri||0" ng-model='task.fri')

md-input-container.task-total-input.bold-input(md-no-float="true")
  label(ng-if='$first') Total
  input(type='number' tabindex="1" min='0' max='99' ng-init="task.total=task.total||0" ng-model='task.total')


md-menu.task-menu-input(md-position-mode="target-right target")
  md-button.md-icon-button(tabindex="1" aria-label='Open timesheet menu', ng-click='$mdOpenMenu($event)',)
    md-icon(md-menu-origin='', md-svg-icon='assets/icons/more.svg')
    md-tooltip Menu

  md-menu-content(width='3')
    //md-menu-item(ng-if=' ! isKnownProject(projectName)')
    md-menu-item()
      md-button(ng-click='openProjectDialog($event, timesheet, $index, clientName, projectName)')
        md-icon(md-font-set="material-icons") edit
        | Set project

    md-menu-item
      md-button(ng-click='deleteTask($event, timesheet, $index, clientName, projectName)')
        md-icon(md-font-set="material-icons") delete
        | Delete


