

md-toolbar.md-whiteframe-z3()
  div.md-toolbar-tools(flex layout-align='space-between center')
    md-button.md-icon-button.menu-button(tabindex="15" ng-click='toggleSideNav()' aria-label="Menu")
      md-icon(md-font-set="material-icons") menu

    md-button.md-icon-button.logout-button(tabindex="15" ng-click='logout()' aria-label="Logout")
      md-icon(md-font-set="material-icons") power_settings_new
      md-tooltip.md-warn(md-direction='left') Logout

