

div(layout='column')

  section(layout='row' flex)
    navbar(navbar-desktop-toggle='main.isOpenDesktop', timesheet='main.currentTimesheet')

  section(id='main-container' layout='row' flex)

    md-progress-circular.timesheet-loader(ng-show='main.loadingCurrentTimesheet', md-diameter='120' md-mode="indeterminate")

    md-sidenav.md-sidenav-left(id="left-nav" md-component-id='left-nav',
    md-is-locked-open="$mdMedia('lt-md') || ($mdMedia('gt-sm') && main.isOpenDesktop)")

      md-content.md-content-timesheet-navigationt.fade-in-content(ng-class='{"fade-in": main.timesheets }')
        timesheet-navigation(timesheets='main.timesheets')


    md-content(id='timesheet-container' ng-class='{"is-nav-open-desktop": main.isOpenDesktop }' flex)

      timesheet(ng-if='main.currentTimesheet' timesheet='main.currentTimesheet')

